<h1>Listing wishes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
  </tr>

<% @wishes.each do |wish| %>
  <tr>
    <td><%=h wish.user_id %></td>
    <td><%=h wish.title %></td>
    <td><%=h wish.description %></td>
    <td><%=h wish.price %></td>
    <td><%= link_to 'Show', wish %></td>
    <td><%= link_to 'Edit', edit_wish_path(wish) %></td>
    <td><%= link_to 'Destroy', wish, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New wish', new_wish_path %>